<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/Louis Ebi/IdeaProjects/SaucelabswithPO/src/test/java/saucelabsmain/Autologoutfunction.java">
        <classes>
            <class name="saucelabsmain.Loginpage">
                <methods>
                    <include name="TC_001"/>
                    <include name="TC_002"/>
                </methods>
            </class>
            <class name="saucelabsmain.Loginfunctions">
                <methods>
                    <include name="TC_003"/>
                    <include name="TC_004"/>
                    <include name="TC_005"/>
                    <include name="TC_006"/>
                    <include name="TC_007"/>
                    <include name="TC_008"/>
                    <include name="TC_009"/>
                </methods>
            </class>
            <class name="saucelabsmain.productpage">
                <methods>
                    <include name="TC_010"/>
                    <include name="TC_011"/>
                    <include name="TC_012"/>
                    <include name="TC_013"/>
                    <include name="TC_014"/>
                    <include name="TC_015"/>
                </methods>
            </class>
            <class name="saucelabsmain.productdetailspage">
                <methods>
                    <include name="TC_016"/>
                    <include name="TC_017"/>
                    <include name="TC_018"/>
                </methods>
            </class>
            <class name="saucelabsmain.filteroption">
                <methods>
                    <include name="TC_019"/>
                    <include name="TC_020"/>
                    <include name="TC_021"/>
                    <include name="TC_022"/>
                    <include name="TC_023"/>
                </methods>
            </class>
            <class name="saucelabsmain.menuoption">
                <methods>
                    <include name="TC_024"/>
                    <include name="TC_025"/>
                    <include name="TC_026"/>
                    <include name="TC_027"/>
                    <include name="TC_028"/>
                </methods>
            </class>
            <class name="saucelabsmain.Socialmedia">
                <methods>
                    <include name="TC_029"/>
                    <include name="TC_030"/>
                    <include name="TC_031"/>
                </methods>
            </class>
            <class name="saucelabsmain.Yourcart">
                <methods>
                    <include name="TC_032"/>
                    <include name="TC_033"/>
                    <include name="TC_034"/>
                    <include name="TC_035"/>
                    <include name="TC_036"/>
                </methods>
            </class>

            <class name="saucelabsmain.Checkoutyourinfo">
                <methods>
                    <include name="TC_037"/>
                    <include name="TC_038"/>
                    <include name="TC_039"/>
                    <include name="TC_040"/>
                    <include name="TC_041"/>
                    <include name="TC_042"/>
                    <include name="TC_043"/>
                    <include name="TC_044"/>
                    <include name="TC_045"/>
                    <include name="TC_046"/>
                </methods>
            </class>
            <class name="saucelabsmain.Overviewpage">
                <methods>
                    <include name="TC_047"/>
                </methods>
            </class>
            <class name="saucelabsmain.Completepage">
                <methods>
                    <include name="TC_048"/>
                    <include name="TC_049"/>
                </methods>
            </class>
            <class name="saucelabsmain.Autologoutfunction">
                <methods>
                    <include name="TC_050"/>
                </methods>

            </class>
        </classes>
    </test>
</suite>